OVERSEERR_CONFIG_DIR="./overseerr/config"

PROWLARR_CONFIG_DIR="./prowlarr/config"

RADARR_CONFIG_DIR="./radarr/config"
RADARR_DOWNLOADS_DIR="./../shared/downloads"
RADARR_MOVIES_DIR="./../shared/Movies"

SONARR_CONFIG_DIR="./sonarr/config"
SONARR_DOWNLOADS_DIR="./../shared/downloads"
SONARR_TV_SERIES_DIR="./../shared/Series"
